@mixin title-style {
  font-weight: bold;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: 2.7px;
  color: rgba(255, 255, 255, 0.71);
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  font-family: $default-font;
  @include se {
    font-size: 32px;
    line-height: 55px;
  }
}

@mixin text-style($size) {
  font-family: $default-font;
  font-style: normal;
  font-weight: bold;
  font-size: $size;
  line-height: 20px;
  letter-spacing: 2.7px;
  color: rgba(255, 255, 255, 0.71);
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

@mixin card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background: rgba(2, 16, 65, 0.45);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  .inner {
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 20px;
  }
}

@mixin se {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin pagevh {
  /* カスタムプロパティ未対応ブラウザ対応 */
  height: 100vh;
  /* 100vh --vhが未定義の場合は1vhを使う */
  height: calc(var(--vh, 1vh) * 100);
}
